.exam-container {
  padding: 1.5rem 1rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  margin-left: 14%;
  margin-right: 13%;
}
.caption-header {
  display: flex;
  gap: 0.75rem;
}
/* .exam-info {
  background-color: beige;
  height: auto;
} */
.exam-info-title {
  margin-top: 5%;
  background-color: beige;
  height: auto;
}
.exam-table {
  width: 100%;
  border-collapse: collapse;
}

.exam-table th,
.exam-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.exam-table th {
  background-color: #f2f2f2;
}
