.JobDetails-jobTitle {
  font-size: 1.5em; /* Responsive font size */
  padding-top: 2em;
}

.JobDetails-jobDescription {
  max-width: 50vw;
  max-height: 50vh;
  font-size: 1em;
  padding: 2em 0 3em 0;
}
.JobDetails-image {
  width: 10%;
}
.JobDetails-a {
  align-items: left !important;
}

.JobDetails-posters {
  width: 50vw;
  height: 70vh;
  border: 1px solid #000;
}

.JobDetails-jobVacancy1,
.JobDetails-education,
.JobDetails-lastDate,
.JobDetails-buttons {
  padding: 0.5em;
}

.JobDetails-jobVacancy2 {
  color: red;
}

.JobDetails-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.JobDetails-ViewAd,
.JobDetails-Aplly,
.JobDetails-official {
  padding: 0.2em;
  border: 1px solid #000;
  margin: 0.5em 0;
  /* text-align: center; */
  cursor: pointer;
  background-color: #c48a0f;
}

.JobDetails-ViewAd:hover,
.JobDetails-Aplly:hover,
.JobDetails-official:hover {
  background-color: #f0f0f0;
  border-color: #000;
  color: #007bff;
}
a {
  text-decoration: none;
  color: #000;
}
.JobDetails-container {
  /* padding-left: 20%; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.JobDetails-infoImage {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 48vw;
  height: 100vh;
  width: 100vw;

  background-color: #fff;
}
.JobPoster-image {
  width: 100%;
  height: 100%;
}
/* Responsive design */
@media (max-width: 700px) {
  .JobDetails-infoImage {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 60vw;
    height: 45vh;
    width: 60vw;

    background-color: #fff;
  }
  .JobDetails-jobTitle {
    font-size: 1.2em;
  }
}
@media (max-width: 1000px) {
  .JobDetails-infoImage {
    height: 45vh;
    width: 60vw;
  }
}
